body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

@keyframes rightround {
    0% {
        transform: rotate(0deg);
        margin-left: -50%;
    }
    50% {
        margin-left: 50%;
    }
    100% {
        transform: rotate(360deg);
        margin-left: -50%;
    }
}

#title {
    animation: rightround 8s infinite linear;
}

#title p {
    font-size: 10em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}